<html>
    <head>
        <title>Group 2 - Best Place to Study</title>
        <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Texas_A%26M_University_logo.svg/800px-Texas_A%26M_University_logo.svg.png" type="image/icon type">

        <!-- bootstrap info -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <style>
          body {
            text-align: center;
            background-color: #500000;
            color: white; 
            padding-bottom: 60px;
          }
          img {
            padding: 40px;
          }
          .list li {
            margin: 0px 150px 0px 150px;
          }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <a class="navbar-brand" href="#">Group 2 - Best Place to...</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="text-align: center;">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index') }}">Study</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('page2') }}">Eat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('page3') }}">Study & Eat</a>
            </li>
          </ul>
        </div>
      </nav>
        
        <h1 style="padding-top: 20px;">...Study on Campus!</h1>
        <img src="https://grad.tamu.edu/getmedia/7d7d55d3-5ee7-45c9-91f8-3f0752ac0d49/aca6562d-9921-4c64-9c38-3a63a8296a8a.jpg" height="500">
        <h2>The Flag Room</h2>
        <div class="list"><ui>
            <li><b>Quiet:</b> The flag room is the perfect quiet room to study in. It also provides very soothing music from the piano played by students.</li>
		    <li><b>Vibes:</b> Students use the piano often to play soft tunes that will provide a relaxing time to either study or nap in the comfortable couches.</li> 
		    <li><b>Ambience:</b> The flag room offers a great ambiance for students trying to study or do their assignments. The soft lightning, sound, and overall atmosphere make it a great place to hang out.</li>
        </ui></div>
    </body>
</html>
