<html>
    <head>
        <title>Best Location to Eat on Campus</title>
        <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Texas_A%26M_University_logo.svg/800px-Texas_A%26M_University_logo.svg.png" type="image/icon type">

        <!-- bootstrap info -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <style>
          body {
            text-align: center;
            background-color: #500000;
            color: white;
            padding-bottom: 60px;
          }
          img {
            padding: 40px;
          }
          .list li {
            margin: 0px 150px 0px 150px;
          }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <a class="navbar-brand" href="#">Group 2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="text-align: center;">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="https://msc.tamu.edu/">Memorial Student Center</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.chick-fil-a.com/?gclid=Cj0KCQiA_bieBhDSARIsADU4zLdAVG4P36PB0ejuM5DMuL1_JioVkeBcKgiQqMVTejMitCqu4Kphi0caAvloEALw_wcB">Chick-Fil-A</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.starbucks.com/menu?utm_campaign=fy22brand50th_20211004&utm_source=google&utm_medium=cpc&utm_term=starbucks&utm_matchtype=e">Starbucks</a>
            </li>
          </ul>
        </div>
      </nav>
        
        <h1 style="padding-top: 20px;">Memorial Student Center</h1>
        <img src="#">
        <h2>Mailstop 1237 College Station, Tx 77843</h2>
        <div class="list">
            <p>The MSC Dining Facility offers some of our favorite places to each, all in the same building. Just a couple examples of the places they offer to eat are Chick-Fil-A and Starbucks.<br>
            Each restaurant offers quick service ehich is great for when you want to grab a quick bite to eat inbetween classes or before studying.<br>
            The dining facility has food on the first and second floors which offer a wide variety of food concepts for you to choose from.</p>
        
       
        </div>

    </body>
</html>
